// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'weui';
@import 'plyr';
//@import 'player';


.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    z-index: 10000;
}

.wechat_content{
  padding-bottom: 45px;
  margin-bottom: 45px;

}

.cart-index-page {
  .product_list {
    .preview {
      img {
        max-width: 80px;
        max-height: 80px;
      }
      margin-right: 20px;
    }

    .product_info {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-size: 12px;
      .product_title, .sku_title, .warning {
        display: block;
      }

      .product_title a {
        color: #3c3c3c;
        font-size: 14px;
      }
      .not_on_sale {
        .product_title, .sku_title {
          text-decoration: line-through;
        }
        .warning {
          color: red;
        }
      }
    }

    .price {
      font-size: 12px;
      font-weight: 700;
      color: #3c3c3c;
    }

    input.amount {
      width: 60px;
      border-radius: 0 !important;
    }
  }
}
.favor{

  .btn-favor{
    text-align: center;
  }
  a{
    text-align: center;
  }
}
.cover{
  margin: 5px;
}
#weaudio{

}

.tags{
  .title{
    font-size: 12px;
    margin:2px 5px;
    padding:2px;
  }
  p{
    float: left;
    margin:1px 3px;
    padding:1px 3px;
    border:1px solid #b2adad;
    border-radius:4px;

    a:link,a:visited,a:hover,a:active{
      font-size: 11px;
    }
  }
}
.navbar-brand{
  font-size: 12px;
}
.page_header_title{
  font-size: 13px;
  border-bottom-color: #b2adad;
  border-bottom: 1px solid #b2adad;
}
