// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'weui';


.footer {
    position: fixed;
    bottom: 0;
    width:100%;
}

.wechat_content{
  padding-bottom: 45px;
  margin-bottom: 45px;

}


#weaudio{

  width:auto;
  height:auto;
}
